*.pptx

development_not_to_be_included_in_git/

__pycache__
__pycache__/*.pyc
.idea/
twoColourExampleData/
traces/
trace_analysis/analysis/SAfitting/data/
trace_analysis/analysis/SAfitting/fitting_Pim.py
Start_analysis.py
*test*
*.xml
*.iml
*.*.pyc


*.pyc
